.menu_button {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.7s ease-out; }
  .menu_button .button_line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: white;
    transition: all 0.7s ease-out; }
  .menu_button.close {
    transform: rotate(180deg); }
    .menu_button.close .button_line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu_button.close .button_line:nth-child(2) {
      opacity: 0; }
    .menu_button.close .button_line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu .menu_brand, .menu .menu_navigation {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu .menu_brand {
    background: #444;
    transform: translate3d(0, 100%, 0);
    transition: all 0.7s ease-out; }
    .menu .menu_brand.show {
      transform: translate3d(0, 0, 0); }
    .menu .menu_brand .menu_portrait {
      width: 250px;
      height: 250px;
      background: url("../img/me.jpeg");
      background-size: 100%;
      border-radius: 50%;
      border: solid 3px #ff702d; }
  .menu .menu_navigation {
    margin: 0;
    padding: 0;
    opacity: 0.9;
    background: #373737;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.7s ease-out; }
    .menu .menu_navigation.show {
      transform: translate3d(0, 0, 0); }
  .menu .menu_item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.7s ease-out; }
    .menu .menu_item.show {
      transform: translate3d(0, 0, 0); }
    .menu .menu_item.current > a {
      color: #ff702d; }
  .menu .menu_item_link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 500;
    color: white;
    text-decoration: none;
    transition: all 0.7s ease-out; }
    .menu .menu_item_link:hover {
      color: #ff702d; }

.menu_item:nth-child(1) {
  transition-delay: 0.1s; }

.menu_item:nth-child(2) {
  transition-delay: 0.2s; }

.menu_item:nth-child(3) {
  transition-delay: 0.3s; }

.menu_item:nth-child(4) {
  transition-delay: 0.4s; }

* {
  box-sizing: border-box; }

body {
  background: #444;
  color: white;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 2; }
  body#bg_img {
    background: url(../img/carlsbad.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg_img:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(68, 68, 68, 0.7);
      z-index: -1; }

h1, h2 {
  margin: 0; }
  h1.home_name, h2.home_name {
    font-size: 4rem;
    font-weight: 700; }
  h1.home_description, h2.home_description {
    margin-bottom: 3rem;
    font-weight: 500; }

a {
  color: white;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.name_last {
  color: #ff702d; }

main {
  padding: 4rem;
  height: 100%; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 7vh; }
  main .social_icons {
    margin-top: 1rem; }
  main a {
    padding: 0.5rem; }
    main a:hover {
      color: #ff702d;
      transition: all 0.7s ease-out; }

.about_info {
  grid-gap: 30px;
  display: grid;
  grid-template-areas: 'bio-image bio bio' 'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr); }
  .about_info p {
    text-indent: 2.0em; }
  .about_info .bio_img {
    height: 350px;
    width: 350px;
    grid-area: bio-image;
    margin: auto;
    border-radius: 50%;
    border: #ff702d 3px solid; }
  .about_info .bio {
    grid-area: bio; }
  .about_info .job_one {
    grid-area: job1; }
  .about_info .job_two {
    grid-area: job2; }
  .about_info .job_three {
    grid-area: job3; }
  .about_info .job {
    background: #515151;
    padding: 0.5rem;
    border-bottom: #ff702d 6px solid; }

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; }
  .projects img {
    width: 100%;
    border: 3px white solid; }
    .projects img:hover {
      opacity: 0.5;
      border-color: #ff702d;
      transition: all 0.7s ease-out; }
  .projects .item {
    text-indent: 0.6em; }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem; }
  .boxes div {
    font-size: 2rem;
    border: 3px white solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    transition: all 0.7s ease-out; }
    .boxes div:hover {
      padding: 0.5rem 1.5rem;
      background: #ff702d;
      color: black; }
      .boxes div:hover span {
        color: white; }
  .boxes .text_secondary {
    color: #ff702d; }

@media screen and (max-width: 500px) {
  main {
    padding: 2rem; }
    main #home h1 {
      margin-top: 10vh; }
    main .home_name {
      margin-top: 1rem;
      font-size: 3rem; }
    main .home_description {
      font-size: 1.2rem; }
    main .bio {
      font-size: 0.8rem; }
  .about_info .bio_img {
    width: 150px;
    height: 150px; }
  .projects {
    grid-template-columns: 1fr; }
  .boxes div {
    font-size: 1rem;
    border: 2px white solid;
    padding: 0.8rem; } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .home_name {
      line-height: 1;
      margin-bottom: 1rem; }
  .menu .menu_brand, .menu .menu_navigation {
    float: none;
    width: 100%;
    min-height: 0; }
  .menu .menu_brand {
    transform: translate3d(0, 100%, 0);
    height: 20vh; }
    .menu .menu_brand .menu_portrait {
      width: 100px;
      height: 100px;
      background: url("../img/me.jpeg");
      background-size: 100%;
      border-radius: 50%;
      border: solid 3px #ff702d; }
  .menu .menu_navigation {
    height: 80vh;
    transform: translate3d(0, -100%, 0);
    transition: all 0.7s ease-out; }
    .menu .menu_navigation.show {
      transform: translate3d(0, 0, 0); }
  .about_info {
    grid-template-areas: 'bio-image' 'bio' 'job1' 'job2' 'job3';
    grid-template-columns: 1fr; }
  .projects {
    grid-template-columns: 1fr; } }

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); }
  .about_info {
    grid-template-areas: 'bio-image' 'bio' 'job1' 'job2' 'job3';
    grid-template-columns: 1fr; } }
